@import "partials/base";
@import "partials/palette";
@import "partials/mixins";

.bank-selector {
  @include inline-block(middle);
  overflow: hidden;
  padding-top: 20px;
  background-color: $dark;
  text-align: center;
  @include separator-title;
}
