@import "partials/base";
@import "partials/palette";
@import "partials/mixins";

.clickButton {
  @include inline-block(middle);
  width: 150px;
  overflow: hidden;
  padding: 20px 20px 0 20px;
  background-color: transparent;
  color: $white;
  text-align: center;
  p {
    i {
      margin-right: 10px;
      &.hide {
        display: none;
      }
    }
    font-size: 18px;
  }
  .indicator {
    &.hide {
      opacity: 0 !important;
    }
    position: relative;
    width: 40%;
    height: 6px;
    margin: 10px auto;
    border-radius: 2px;
    background-color: rgba($white, 0.9);;
    box-shadow: inset 2px 2px 2px darken($white, 50%);
    .light {
      width: 90%;
      height: 1px;
      margin: 0 auto;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $white 50%, rgba(0, 0, 0, 0) 100%);
      transform: translateY(3px);
      opacity: 0;
    }
    &.active {
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px 1px, inset darken($secondary-light, 20%) 0 0 9px, adjust-hue($secondary-light, 15%) 0 -2px 12px;
      background-color: $secondary-light;
      .light {
        opacity: 1;
      }
    }
  }
  button {
    width: 60%;
    height: 172px;
    border-bottom: 14px solid darken($dark, 7%);
    box-shadow: 2px 4px 8px darken($dark, 7%);
    transform: perspective(200px) rotateX(-45deg) scale(1.1) translateY(12px);
    background-color: $light;
    cursor: pointer;
    &:hover {
      transform: perspective(200px) rotateX(-45deg) scale(1.1) translateY(14px);
      border-bottom-width: 7px;
    }
    &:active {
      transform: perspective(200px) rotateX(-45deg) scale(1.1) translateY(16px);
      border-bottom-width: 0;
      box-shadow: 0 0;
      height: 168px;
    }
  }
}
