@import "partials/base";
@import "partials/palette";
@import "partials/mixins";

.display {
  @include inline-block(middle);
  width: 500px;
  overflow: hidden;
  background-color: $dark;
  & > div {
    @include inline-block(middle);
    padding: 20px;
  }
  .patch {
    width: 35%;
    height: 170px;
    color: $primary;
    background-color: darken($primary-back, 2%);
    @include display-glow(lighten($primary, 5%));
    p {
      font-family: 'Racing Sans One';
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
    }
    .code {
      text-align: center;
      font-size: 64px;
    }
  }
  .settings {
    width: 65%;
    height: 170px;
    color: $primary;
    background-color: $primary-back;
    @include display-glow(lighten($primary, 5%));
    vertical-align: bottom;
    & > div, & > p {
      @include inline-block(middle);
      width: 100%;
    }
    & > p {
      width: 50%;
      padding-bottom: 5px
    }
    .rightAlign {
      text-align: right;
    }
    .prop {
      width: 30%;
      p {
        padding: 5px 0;
      }
    }
    .bar {
      width: 60%;
      progress[value] {
        -webkit-appearance: none;
        width: 100%;
        padding: 0 10px;
        margin: 5px 0;
        @include inline-block(middle);
        &::-webkit-progress-bar {
          background-color: darken($primary-back, 2%);
        }
        &::-webkit-progress-value {
          background-color: $primary;
          @include display-glow-box(lighten($primary, 5%));
        }
      }
    }
    .level {
      width: 10%;
      p {
        padding: 5px 0 5px 5px;
      }
    }
  }
}
