@import "partials/base";
@import "partials/palette";

.display {
  position: relative;
  display: block;
  width: 500px;
  overflow: hidden;
  background-color: $dark;
  & > div {
    position: relative;
    display: inline-block;
    padding: 20px;
  }
  .patch {
    width: 35%;
    height: 150px;
    color: $primary;
    background-color: darken($primary-back, 2%);
    text-shadow: 0 0 9px lighten($primary, 5%);
    p {
      font-family: 'Racing Sans One';
      font-size: 24px;
    }
    .code {
      font-size: 64px;
    }
  }
  .settings {
    width: 65%;
    height: 150px;
    color: $primary;
    background-color: $primary-back;
    text-shadow: 0 0 9px lighten($primary, 5%);
    vertical-align: bottom;
    & > div {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
    .prop {
      width: 30%;
      p {
        padding: 5px 0;
      }
    }
    .bar {
      width: 60%;
      progress[value] {
        -webkit-appearance: none;
        width: 100%;
        padding: 0 10px;
        margin: 5px 0;
        display: inline-block;
        vertical-align: middle;
        &::-webkit-progress-bar {
          background-color: darken($primary-back, 2%);
        }
        &::-webkit-progress-value {
          background-color: $primary;
          box-shadow: 0 0 9px lighten($primary, 5%);
        }
      }
    }
    .level {
      width: 10%;
      p {
        padding: 5px 0 5px 5px;
      }
    }
  }
  .effect-selector {
    width: 100%;
    padding: 8px 2px 12px 2px;
    text-align: center;
    .title {
      transform: translateY(11px);
      padding-bottom: 5px;
      p {
        display: table;
        margin: 0 auto;
        padding: 0 8px;
        transform: translateY(-11px);
        text-align: center;
        font-size: 18px;
        color: $white;
        background-color: $dark;
      }
      .separator {
        position: relative;
        display: block;
        width: 90%;
        height: 1px;
        margin: 0 auto;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $white 50%, rgba(0, 0, 0, 0) 100%);
      }
    }
    .effect {
      position: relative;
      display: inline-block;
      width: 12%;
      margin: 0 3px;
      text-align: center;
      p {
        font-family: 'Racing Sans One';
        color: $white;
      }
      button {
        width: 80%;
        height: 14px;
        margin-top: 5px;
        border-radius: 2px;
        background-color: rgba($primary, 0.6);
        border-bottom: 3px solid darken($primary, 25%);
        cursor: pointer;
        &:hover {
          transform: translateY(3px);
          height: 11px;
          border-bottom: 0;
        }
        &.active {
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px 1px, inset darken($primary, 20%) 0 0 9px, adjust-hue($primary, 15%) 0 -2px 12px;
          background-color: $primary;
        }
      }
    }
  }
}
