@import "partials/base";
@import "partials/palette";
@import "partials/mixins";

.edit-save {
  @include inline-block(middle);
  width: 180px;
  background-color: $dark;
  padding: 10px;
  div {
    @include inline-block(middle);
    width: 50%;
    overflow: hidden;
    text-align: center;
    p {
      color: $white;
    }
    @include tap-button(50%, $secondary-light);
  }
}
