@import "partials/base";
@import "partials/palette";
@import "partials/mixins";

.effect-selector {
  @include inline-block(middle);
  width: 680px;
  overflow: hidden;
  padding: 8px 2px 12px 2px;
  margin-left: 175px;
  background-color: $dark;
  text-align: center;
  @include separator-title($dark);
  .effect {
    @include inline-block(middle);
    width: 10.5%;
    margin: 0 1%;
    text-align: center;
    p {
      font-family: 'Racing Sans One';
      color: $white;
    }
    @include tap-button(65%, $primary-light);
  }
}
