@import "partials/base";
@import "partials/palette";
@import "partials/mixins";

.patch-selector {
  @include inline-block(middle);
  overflow: hidden;
  padding-top: 20px;
  background-color: darken($dark, 3%);
  text-align: center;
  @include separator-title(darken($dark, 3%));
}
