/************* B/W Colors *************/
$dark: #2C3D4F;
$light: #34495D;
$white: #FAFAFA;

/************ Orange Theme ************/
// $primary: #FC772B;
// $primary-back: #30180B;
// $primary-light: #F00;
// $secondary-light: #FF0;

/************* Blue Theme *************/
$primary: #3AD3CD;
$primary-back: #0A3442;
$primary-light: #0D0;
$secondary-light: #FC772B;
